@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@media(max-width:600px){
    section p{font-size: 1em;
    margin: 0;}
}


*{
    margin: 0;
    border: 0;
}
:root{
    --fonte-principal: 'Birthstone', cursive;
    --corheader:rgba(160, 135, 26, 0.849);
    --fonte-padrao:'comic relief',sans-serif;
}
header{
    background-color: var(--corheader);
    font-family: var(--fonte-principal);
    text-align: center;
    font-size: 2em;
    line-height: 1em;
    padding: 2.9dvh;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.61);
}
header > a{
    :hover{color: rgb(173, 173, 173);
    transition: 0.31s;}
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section p{font-family: var(--fonte-padrao);
text-wrap: bold;
font-size: 2em;
margin-left: 8dvh;}
.nature{background-position: center;padding: 5dvh;box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.39);background-attachment: fixed;
padding: 9dvh;}
#_1.nature{background-image:url(../imagens/background001.jpg) ;}
#_2.nature{background-image:url(../imagens/background002.jpg) ;}
.nature p {background-color: rgba(0, 0, 0, 0.425);display: inline-block;
margin-left: -0.9dvh;
color: white;}
section p{padding: 4dvh;}
footer {background-color: rgb(0, 0, 0);
color: white; text-align: center;margin: 0;padding: 2dvh;
font-family: var(--fonte-padrao);
display: flex;justify-content: center;}

footer i{color: white;}

.footer-content a {
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 20px;}